.header {
    background-color: rgb(9, 143, 232);
    border-radius: 3px;
    position: sticky;
  top: 0;
  z-index: 999;
}

.homePage{
    text-align: center;
}
.homePageRow{
    min-height: 100vh;
    padding-top: 10%;
}